.userCenter_right{
	width: 1200px;
	min-height: 350px;
}
.right_con{
	padding:30px 20px;
}
.tip{
	border:1px dashed #e85850;
	height: 38px;
	background: #fff7f4;
	line-height: 39px;
	margin-bottom: 30px;
}
.tip_icon{
	display: inline-block;
	top:2px;
	left:-28px;
	width: 18px;
	height: 18px;
	background: url(../../../images/error.png) no-repeat;
}
.mian_con{
	padding-left:240px;
}
.info_box{
    margin-top: 30px;
    width: 610px;
}
.info_dec{
    height: 42px;
    line-height: 42px;
    width: 130px;
}
.ipt_box{
    width: 438px;
    height: 40px;
    border:1px solid #e5e5e5;
    border-radius: 5px;
    margin-left: 30px;
    overflow: hidden;
}
.ipt{
    width: 95%;
    height: 40px;
    line-height: 40px;
    padding-left:8px;
}
.err_msg{
    width:252px;
    height: 36px;
    line-height: 36px;
    padding-left:30px;
    background: url(../../../images/wrong.png) no-repeat left center; 
}
.err_msg{
	margin-left: 160px;
}
.confirm_btn{
	background: #117eff;
	width: 108px;
	height: 40px;
	line-height: 40px;
	margin:30px 0 30px 400px;
}
/* 认证失败 */
.re_play{
	min-width: 90px;
	padding:0 20px;
	margin:27px 0 0;
}
.dec img{
	margin:27px 0;
}
/* 设置用户名 */
.link{
	margin-top: 5px;
}
/* 绑定银行卡 */
.disabled,.disabled input{
	color:#989898;
	background: #f7f8fd;
}
.bankCard{
	padding-left:240px;
}
.bankCard .info_dec{
	width: 130px;
}
.img_code{
	width: 100px;
	height: 38px;
	top:0;
	right:-1px;
}
.select_box{
	margin-left:30px;
}
._select{
	width: 138px;
	border-color: #e5e5e5;
	margin-right: 10px;
}
._select,._selectVal{
	height: 38px;
	line-height: 38px;
}
._arr{
	top:18px;
}
._options {
	top:46px;
}
.get_code{
	width: 107px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	border-left:1px solid #e5e5e5;
	top:12px;
	right: 0px;
}
.agreement_box{
	width: 500px;
	margin:20px 0 0 400px;
}
.agree{
	width: 16px;
	height: 16px;
	margin: 4px 10px 0 0;
}
/* 银行卡管理 */
.card_box{
	width: 300px;
	height: 170px;
	margin-top: 30px;
	border:1px solid #f5f5f5;
	border-radius: 10px;
	padding:30px 0 0 25px;
	box-shadow: 2px 2px 0px 1px #f5f5f5;
}
.bank_logo{
	height: 33px;
}
.user_name{
	margin:30px 0;
}
.delete_btn{
	padding:5px 8px; 
	top:10px;
	right:10px;
	cursor: pointer;
	border-radius: 5px;
}
.delete_btn:hover{
	background: snow;
}
.know_btn{
	width: 126px;
	margin:45px 0;
}
.to_bind{
	margin:60px 0 20px;
}
.to_bind2{
	width: 130px;
}